---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="YO GI HO Blog IN ENGLISH"
      href={`${Astro.site}rss.xml`}
    />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>

    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body class="bg-gray-900">
    <main class="mb-10 max-w-5xl m-auto px-5 py-2">
      <slot />
    </main>
    <script>
      // Initialize Netlify Identity widget
      declare global {
        interface Window {
          netlifyIdentity: any;
        }
      }
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user: any) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
